@media (max-width: 600px) {

    header {

        flex-direction: column;
        height: 170px;
        padding-left: 175px;
        padding-right: 175px;
        padding-top: 12px;
        padding-bottom: 50px;
        
    }

    #nav-header {

        display: flex;
        margin-left: 0px;

    }

    ul {

        gap: 20px;

    }

    ul li {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    #button-header {

        display: none;

    }
    
    .logo {

        padding-bottom: 35px;
        white-space: nowrap;


    }


    .home-section {

        padding: 60px 0;
    
    }

    .box {

        width: 360px;
        height: 375px;
        border-radius: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between; /* Espaço entre texto e imagem */
        padding-left: 20px;
        padding-top: 5px;
        box-sizing: border-box;

}

.vl-box-home {

    position: relative;
    object-fit: cover;
    top: -13px;
    right: 180px;
    width: 250px;
    height: 445px;
    

}

    .text-content {

    color: white; 
    max-width: 120%; 
   
  }

.logo-box {

    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-right: -80px;
    

}

.h1-box-logo {

    font-family: 'Cormorant Unicase', sans-serif; 
    font-weight: bold;
    color: #fff; 
    font-size: 20px;
    white-space: nowrap;
    text-align: left;
    margin: 0;


}

.h2-box-logo {

    font-family: 'Cormorant Unicase', sans-serif; 
    font-weight: normal;
    color: #fff; 
    font-size: 18px;
    padding-bottom: 40px;

}

.reab-vidas {

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: normal;
    font-size: 23px;
    padding-bottom: 30px;

}

.reab-vidas.-second {

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: normal;
    font-size: 18px;
    width: 160px;

}

.button.-homebtn {

    width: 130px;


}

    .box-service {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    width: 100%;
    height: 1700px;
    padding-top: 30px;
    margin-bottom: 80px; 
 

}

.logo-service .h1-box-logo {

    color: #03404E;

}

.logo-service .h2-box-logo {

    color: #03404E;

}

.box-service .title-service {

    color: #03404E;
    font-size: 15px;

}



.article-service {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Espaço entre os cards */
        max-width: 800px;
        margin: 0 ;
        justify-content: center;
        align-items: center;

}

    #card-apagado {

        display: none;

    }

.card-service {

    border-radius: 18px;
    width: 175px;
    height: 150px;
    padding-top: 16px;
    box-shadow: 3px 3px 10px #000;
    

}

.card-service img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 225px;
    height: 240px;
    border-radius: 50px;
    padding-bottom: 8px;

}

.card-service h1 {

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 25px;

}

.card-service p {

    padding-left: 15px;
    padding-right: 15px;
    font-family: "Martel Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;

}

.title-service {

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    font-size: 22px;

}

.title-rating h1{

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    color: #082D33;
    font-size: 22px;
    text-align: center;
    padding-bottom: 12px;

}

.title-rating h2 {

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    color: #082D33;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;

}

.article-rating {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px; /* Espaço entre os cards */
        max-width: 800px;
        margin: 0 ;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 180px;


}

#none-pc {

    display: block;

}

.card-rating {

    background-color: #03404E;
    width: 118px;
    height: 145px;
    border-radius: 35px;
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 5px 20px #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.title-card-rating h1{

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding-bottom: 8px;

}

.title-card-rating p {

    font-family: "Martel Sans", sans-serif;
    font-size: 8px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 5px;

}

.card-rating img {

    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 0px;
    padding-right: 5px;
    

}

.user-rating h1{

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 10px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 5px;
    white-space: nowrap;
    

}

.user-rating h2 {

    font-family: "Martel Sans", sans-serif;
    font-size: 10px;
    font-weight: 300;

}

#avaliacoes {

    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente */
    align-items: center;     /* centraliza horizontalmente */
}

.sobre {

    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.title-sobre h1 {
    
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: #082D33;
    padding-bottom: 45px;

}

.title-sobre p {

    font-family: "Martel Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    width: 370px;
    max-width: 500px;
    margin: 0px;
    overflow-wrap: break-word;
    padding-bottom: 95px;

}

.sobre-box {

    margin-left: 0px;
    background: linear-gradient(to bottom, #082D33, #151D1F);
    width: 360px;
    height: 360px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;

}

.sobre-box img {

    margin-left: 50px;
    position: relative;
    top: -90px;
    object-fit: cover;
    width: 100%;
    height: 450px;
       
    }

    .footer-box {

        background: linear-gradient(to right, #082d33, #151d1f);
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        padding-left: 20px;
      
      }

    .logo-footer  {
        text-align: center;
        padding-top: 50px;
       
      }

      
    .logo-footer > h2 {

        text-align: center;
        padding-bottom: 15px;

      }


    .ctt {

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 25px;
}
      
.footer-box p {
    font-family: "Martel Sans", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 33px;
    
  }
  
  .litle-footer-box {
    background-color: #151d1f;
    width: 100%;
    height: 70px;
    padding-left: 0px;
    padding-top: 10px;
  }

  .div-vl-img {

    display: none;
  
  }

  .litle-footer-box div {

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    opacity: 50%;
    padding-top: 10px;
   
  }

  .litle-footer-box div > h1 {
    
    font-size: 15px;
   
  }
  
body {

    overflow-x: hidden;

}

}